openapi: 3.0.3
info:
  title: Rokwire Core Building Block Admin UI API
  description: Core Building Block API Documentation
  version: 1.62.0
servers:
- url: https://api.rokwire.illinois.edu/core
tags:
- name: UI
  description: Endpoints for HTML webpages
paths:
  /ui/credential/reset:
    get:
      tags:
      - UI
      summary: Display HTML password reset page
      description: 'Serves an HTML page with password reset form

        '
      parameters:
      - name: id
        in: query
        description: Credential ID
        required: true
        style: form
        explode: false
        schema:
          type: string
      - name: code
        in: query
        description: Reset code
        required: true
        style: form
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: Successful operation (HTML)
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal error
  /ui/credential/verify:
    get:
      tags:
      - UI
      summary: Validate verification code
      description: 'Validates verification code to verify account ownership and displays result in an HTML page

        '
      parameters:
      - name: id
        in: query
        description: Credential ID
        required: true
        style: form
        explode: false
        schema:
          type: string
      - name: code
        in: query
        description: Verification code
        required: true
        style: form
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: Successful operation (HTML page)
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal error
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
