openapi: 3.0.3
info:
  title: Rokwire Core Building Block Admin TPS API
  description: Core Building Block API Documentation
  version: 1.62.0
servers:
- url: https://api.rokwire.illinois.edu/core
tags:
- name: TPS
  description: Third-Party Service APIs.
paths:
  /api/tps/examples/{id}:
    get:
      tags:
      - TPS
      summary: Gets example
      description: 'Gets example record


        **Auth:** Requires valid third-party service account token with `get_examples` permission

        '
      security:
      - bearerAuth: []
      parameters:
      - name: id
        in: path
        description: ID of example to retrieve
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Example'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal error
  /api/tps/events:
    post:
      tags:
      - TPS
      summary: Create events
      description: 'Creates new events


        **Auth:** Requires valid tps token with `manage_legacy_events` permission

        '
      security:
      - bearerAuth: []
      requestBody:
        description: New events content
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/_tps_req_create-event'
      responses:
        '200':
          description: Success
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal error
    delete:
      tags:
      - TPS
      summary: Delete events
      description: 'Deletes all events created by the calling account. If the "ids" param is passed them it deletes only the provided events.


        **Auth:** Requires valid tps token with `manage_legacy_events` permission

        '
      security:
      - bearerAuth: []
      parameters:
      - name: ids
        in: query
        description: A comma-separated list of ids
        required: false
        style: form
        explode: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
                example: Success
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '500':
          description: Internal error
components:
  schemas:
    _tps_req_create-event-contact:
      type: object
      properties:
        contact_name:
          type: string
        contact_email:
          type: string
        contact_phone:
          type: string
    _tps_req_create-event:
      type: object
      properties:
        all_day:
          type: boolean
        category:
          type: string
        subcategory:
          type: string
        cost:
          type: string
        created_by:
          type: string
        date_modified:
          type: string
        start_date:
          type: string
        end_date:
          type: string
        image_url:
          type: string
          nullable: true
        registration_url:
          type: string
        is_virtual:
          type: boolean
        long_description:
          type: string
        recurrence_id:
          type: integer
        recurring_flag:
          type: boolean
        sponsor:
          type: string
        registration_label:
          type: string
        title:
          type: string
        title_url:
          type: string
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/_tps_req_create-event-contact'
        tags:
          type: array
          items:
            type: string
        target_audience:
          type: array
          items:
            type: string
        location:
          $ref: '#/components/schemas/_tps_req_create-event-location'
    Example:
      type: object
      required:
      - id
      - app_id
      - org_id
      - data
      - date_created
      properties:
        id:
          type: string
          readOnly: true
        org_id:
          type: string
          readOnly: true
        app_id:
          type: string
          readOnly: true
        data:
          type: string
        date_created:
          type: string
          readOnly: true
        date_updated:
          type: string
          nullable: true
          readOnly: true
    _tps_req_create-event-location:
      type: object
      properties:
        description:
          type: string
        latitude:
          type: number
        longitude:
          type: number
        floor:
          type: integer
        address:
          type: string
        building:
          type: string
        room:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
